.product {
  &:not(:last-child) {
    border-bottom: 1px solid $line;
  }

  * {
    margin-bottom: 3px;
  }

  &__count {
    color: $placeholder;

    & > span {
      color: $title;
      margin-left: 7px;
    }
  }
}
